*,
*::before,
*::after {
  box-sizing: border-box
}

h1 {
    color: var(--blanc);
    font-family: var(--font-heading-1-2);
    font-size: var(--heading-1);
}

h2 {
    color: var(--blanc);
    font-family: var(--font-heading-1-2);
    font-size: var(--heading-2)
}

h3 {
    color: var(--noir);
    font-family: var(--font-heading-3-4);
    font-size: var(--heading-3)
}

h4 {
    color: var(--noir);
    font-family: var(--font-heading-3-4);
    font-size: var(--heading-4)
}

body, .legende {
    font-family: var(--font-body);
    color: var(--noir);
}

body {
    background-color: var(--blanc);
    font-size: var(--body);
}

.legende {
    font-size: var(--legende);
    display: block;
    text-align: center;
    margin-bottom: var(--space4x);
}

q {
    font-weight: bold;
    font-size: 16px;
}

button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.noscroll,
.noscroll body {
  overflow: hidden;
}

.main__start {
    margin-top: 50px;
}

.main__start h3 {
    text-align: center;
}

.main__start h4 {
    margin-left: 25px;
    margin-right: 25px;
}

.main__body h4{
    margin-left: 20px;
}

.main__text {
    margin-left: 25px;
    margin-right: 20px;
}

.main--aquaman {
    position: relative;
    z-index: 3;
}

.buttons {
    display: inline;
}

.button__redirect {
    margin-left: 170px;
    margin-top: -22px;
    width: 25%;
}

.button__text {
    color: gray;
    position: relative;
    margin-left: 190px;
}

.main--autresprojets {
    margin-top: 100px;
}

.carrousel {
    grid-column: 2;
    grid-row: 2;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.images11 {
    width: 6600px;
    height: 375px;
    left: 0;
}

.images11 img{
	width: 375px;
	height: 375px;
}

.image11 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}