.hero__background {
    position: absolute;
    margin-top: 60px;
}

.hero__logo {
    width: 25%;
    position: relative;
    margin-top: 90px;
    margin-left: 135px;
    margin-bottom: -10px;
}

.hero__chapo {
    position: relative;
    font-size: 18px;
    margin-left: 20px; margin-right: 26px;
}

.hero__item, .hero__item2, .hero__title {
    position: relative;
}

.hero__item {
    margin-top: 30px;
    margin-left: 242px;
}

.hero__item2 {
    margin-left: 325px;
    margin-top: -3px;
}

.hero__title {
    width: 60%;
    margin-top: 80px;
    margin-left: 75px;
}